* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(229, 143, 213);
    text-align: center;
}

a {
    text-decoration: none;
    color: crimson;
    text-align: center;
}


img {
    width: 400px;
    align-content: center;
}

h1 {
    text-align: center;
}

ul > li > a {
    color: red;
    text-decoration: none;
}

ul > li {
    display: inline;
    margin: 25px;
    font-size: 20px;
}

div {
    border: 2px dashed blue;
    margin-top: 40px;
}